.App {
  text-align: center;
}

.Header {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

.HeaderText {
  font-family: "Dancing Script", cursive;
  margin: 0.5rem;
  pointer-events: none;
}
